<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Runner Up</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway'
          rel='stylesheet' type='text/css'>
    <link href="https://file.myfontastic.com/xPCFgAh3YZPCMfwhG8kVRG/icons.css" rel="stylesheet">
    <link href="{{static 'css/bundle.css'}}" type="text/css" rel="stylesheet">
    <script src="{{static 'js/jquery-2.1.0.js'}}"></script>
    <script src="{{static 'js/lobby/bundle.js'}}"></script>
</head>
<body style="background-image: url('{{static 'images/background.png'}}')">
<div class="container" id="nonGame">
    <div id="loader">
        <div class="row center">
            <img src="{{static 'images/loader.svg'}}">
        </div>
        <div class="row center">
            <p id="loaderMessage">Connecting to server.
            </p>
        </div>
    </div>
    <div id="setup">
        <div class="row center">
            <img src="{{static 'images/setup_main.png'}}">
        </div>
        <div class="row center">
            <h1>RUNNER UP</h1>
        </div>
        <div class="row">
            <form id="createLobby">
                <select name="numberOfPlayers" class="u-full-width">
                    <option value="1">1 Player</option>
                    <option value="2">2 Players</option>
                    <option value="3">3 Players</option>
                    <option value="4">4 Players</option>
                </select>
                <input type="submit" class="button-primary u-full-width" value="Create Lobby">
            </form>
        </div>
    </div>

    <div id="lobby">
        <div class="toolbar row">
            <span class="icon icon-leave-lobby" title="Close Lobby" id="closeLobby"></span>
        </div>
        <div class="row center">
            <h2 id="gameType"></h2>
            <p>Connect at: <span id="playerUrl"></span></p>
            <p>Lobby ID: <span id="lobbyId"></span></p>
            <p>
                <span id="currentNumberOfPlayers"></span> Players (<span id="maxNumberOfPlayers"></span> Max)
            </p>

            <p id="players">

            </p>
        </div>
    </div>
</div>
<div id="game">
</div>
</body>
</html>