<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Runner Up</title>
    <link rel="shortcut icon" href="{{static 'images/favicon.png'}}">
    <link href='https://fonts.googleapis.com/css?family=Raleway'
          rel='stylesheet' type='text/css'>
    <link href="https://file.myfontastic.com/xPCFgAh3YZPCMfwhG8kVRG/icons.css" rel="stylesheet">
    <link href="{{static 'css/bundle.css'}}" type="text/css" rel="stylesheet">
    <script src="{{static 'js/lobby/bundle.js'}}"></script>
</head>
<body>
<div class="container" id="nonGame">
    <div id="loader">
        <div class="row center">
            <img src="{{static 'images/loader.gif'}}">
        </div>
        <div class="row center">
            <h3 id="loaderMessage"></h3>
        </div>
    </div>
    <div id="setup">
        <div class="row center">
            <img src="{{static 'images/setup.png'}}">
        </div>
        <div class="row center">
            <h1>RUNNER UP</h1>
        </div>
        <div class="row">
            <form id="createLobby">
                <select name="numberOfPlayers" class="u-full-width">
                    <option value="1">1 Player</option>
                    <option value="2">2 Players</option>
                    <option value="3">3 Players</option>
                    <option value="4">4 Players</option>
                </select>
                <input type="submit" class="button-primary u-full-width" value="Create Lobby">
            </form>
        </div>
    </div>

    <div id="lobby">
        <div class="row center">
            <img src="{{static 'images/setup.png'}}">
        </div>
        <div class="row center">
            <h2 id="gameType"></h2>
            <button class="button-primary center closeLobby">Close Lobby</button>
            <h6>Connect at: <span id="playerUrl"></span></h6>
            <h6>Lobby ID: <span id="lobbyId"></span></h6>
            <p>
                <span id="currentNumberOfPlayers"></span> Players (<span id="maxNumberOfPlayers"></span> Max)
            </p>

            <p id="players">

            </p>
        </div>
    </div>
</div>
<div id="game">
    <button class="button-primary center u-full-width closeLobby">Close Lobby</button>
    <div id="screen"></div>
</div>
</body>
</html>